<div class="about container-fluid py-5 ">
<h1 class="text-white text-center ">ABOUT COMPONENT</h1>
<div class="d-flex align-items-center justify-content-center mb-3">
    <div class="mb-3 line me-3"></div> 
    <i class="mb-3 fa-solid fa-star text-white"></i> 
    <div class="line ms-3 mb-3" ></div> 
  </div>  
  <div class="container row d-flex justify-content-center mx-auto text-white">
    <p class="col-4">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
    <p class="col-4">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>

</div>
</div>
