<div class="container m-5 mx-auto">
    <h1 class="text-center gray ">CONTACT COMPONENT</h1>
    <div class="d-flex align-items-center justify-content-center mb-3">
        <div class="mb-3 line me-3"></div> 
        <i class="mb-3 fa-solid fa-star gray"></i> 
        <div class="line ms-3 mb-3" ></div> 
      </div> 
    <form class="w-50 m-auto">
        <input class="form-control border-bottom border-top-0 border-start-0 border-end-0 my-3" type="text" placeholder="userName" aria-label="default input example">
        <input class="form-control border-bottom border-top-0 border-start-0 border-end-0 my-3" type="text" placeholder="userEmail" aria-label="default input example">
        <input class="form-control border-bottom border-top-0 border-start-0 border-end-0 my-3" type="text" placeholder="userAge" aria-label="default input example">
        <input class="form-control border-bottom border-top-0 border-start-0 border-end-0 my-3" type="text" placeholder="userPassword" aria-label="default input example">
        <button type="button" class="btn green text-white"> send Message </button>
    </form> 
</div>