
<div class="protfolio my-5 container">
    <h1 class="text-center gray ">PORTFOLIO COMPONENT</h1>
    <div class="d-flex align-items-center justify-content-center mb-3">
        <div class="mb-3 line me-3"></div> 
        <i class="mb-3 fa-solid fa-star gray"></i> 
        <div class="line ms-3 mb-3" ></div> 
      </div>  
      <div class="lightbox" data-mdb-lightbox-init>

      <div class="row row-cols-1 row-cols-md-3 g-3 ">
        <div class="col position-relative " >
            <img src="assets/poert1.png" class="w-100 h-100 rounded-3" alt="" >
            <div  class="layer rounded-3 position-absolute  w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                <i class="text-white fa-solid fa-plus fa-6x"></i></div>
        </div>

        <div class="col position-relative">
            <img src="assets/port2.png" class="w-100 h-100 rounded-3" alt="" >
            <div  class="layer rounded-3 position-absolute  top-0 h-100 d-flex justify-content-center align-items-center">
                <i class="text-white fa-solid fa-plus fa-6x"></i></div>
        </div>
        <div class="col position-relative">
            <img src="assets/port3.png" class="w-100 h-100 rounded-3" alt="">
            <div  class="layer rounded-3 position-absolute  top-0 h-100 d-flex justify-content-center align-items-center">
                <i class="text-white fa-solid fa-plus fa-6x"></i></div>
        </div> 
        <div class="col position-relative" >
            <img src="assets/poert1.png" class="w-100 h-100 rounded-3" alt="">
            <div  class="layer rounded-3 position-absolute top-0 h-100 d-flex justify-content-center align-items-center">
                <i class="text-white fa-solid fa-plus fa-6x"></i></div>
        </div>

        <div class="col position-relative">
            <img src="assets/port2.png" class="w-100 h-100 rounded-3" alt="">
            <div  class="layer rounded-3 position-absolute top-0 h-100 d-flex justify-content-center align-items-center">
                <i class="text-white fa-solid fa-plus fa-6x"></i></div>
        </div>
        <div class="col position-relative">
            <img src="assets/port3.png" class="w-100 h-100 rounded-3" alt="">
            <div class="test d-none">
                <img src="assets/port2.png" alt="">
            </div>
            <div class="layer rounded-3 position-absolute top-0 h-100 d-flex justify-content-center align-items-center">
                <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
        </div>  
      </div>
    </div>
</div>
